<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wildfirechat.admin.mapper.FriendMapper">

    <resultMap id="resultMap" type="cn.wildfirechat.common.model.po.FriendPO">
        <id property="id" column="id"/>
        <result property="memberSourceId" column="_member_source_id"/>
        <result property="memberTargetId" column="_member_target_id"/>
        <result property="verify" column="_verify"/>
        <result property="verifyText" column="_verify_text"/>
        <result property="requestReceiver" column="_request_receiver"/>
        <result property="sourceBlacked" column="_source_blacked"/>
        <result property="targetBlacked" column="_target_blacked"/>
        <result property="createTime" column="_create_time"/>
        <result property="updateTime" column="_update_time"/>
        <result property="addTime" column="_add_time"/>
    </resultMap>


    <sql id="PAGE_COLUMN">
        <where>
            <if test="id != null">AND `id` = #{id}</if>
            <if test="memberSourceId != null">AND `_member_source_id` = #{memberSourceId}</if>
            <if test="memberTargetId != null">AND `_member_target_id` = #{memberTargetId}</if>
            <if test="verify != null">AND `_verify` = #{verify}</if>
            <if test="verifyText != null">AND `_verify_text` = #{verifyText}</if>
            <if test="requestReceiver != null">AND `_request_receiver` = #{requestReceiver}</if>
            <if test="createTimeGt != null"><![CDATA[AND _create_time >= #{createTimeGt} ]]></if>
            <if test="createTimeLe != null"><![CDATA[AND _create_time <= #{createTimeLe} ]]></if>
            <if test="updateTimeGt != null"><![CDATA[AND _update_time >= #{updateTimeGt} ]]></if>
            <if test="updateTimeLe != null"><![CDATA[AND _update_time <= #{updateTimeLe} ]]></if>
            <if test="addTimeGt != null"><![CDATA[AND __add_time >= #{addTimeGt} ]]></if>
            <if test="addTimeLe != null"><![CDATA[AND __add_time <= #{addTimeLe} ]]></if>
        </where>
    </sql>

    <insert id="insert" parameterType="cn.wildfirechat.common.model.po.GroupMemberPO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `t_friend`(`_member_source_id`,
        `_member_target_id`,
        `_verify`,
        `_verify_text`,
        `_request_receiver`,
        `_add_time`)
        VALUES (#{memberSourceId},
        #{memberTargetId},
        #{verify},
        #{verifyText},
        #{requestReceiver},
        #{addTime}) ON DUPLICATE KEY UPDATE
        <trim prefix="" suffixOverrides=",">
            <if test="verify != null">`_verify` = #{verify},</if>
            <if test="verifyText != null">`_verify_text` = #{verifyText},</if>
            <if test="addTime != null">`_add_time` = #{addTime},</if>
            <if test="requestReceiver != null">`_request_receiver` = #{requestReceiver}</if>
        </trim>
    </insert>

    <update id="update">
        UPDATE `t_friend`
        <set>
            <if test="verify != null">`_verify` = #{verify},</if>
            <if test="verifyText != null">`_verify_text` = #{verifyText},</if>
            <if test="addTime != null">`_add_time` = #{addTime},</if>
            <if test="sourceBlacked != null">`_source_blacked` = #{sourceBlacked},</if>
            <if test="targetBlacked != null">`_target_blacked` = #{targetBlacked},</if>
            <if test="requestReceiver != null">`_request_receiver` = #{requestReceiver},</if>
        </set>
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="memberSourceId != null and memberTargetId == null">AND _member_source_id = #{memberSourceId}</if>
            <if test="memberSourceId == null and memberTargetId != null">AND _member_target_id = #{memberTargetId}</if>
            <if test="memberSourceId != null and memberTargetId != null">AND _member_source_id in (#{memberSourceId},
                #{memberTargetId}) AND _member_target_id in (#{memberSourceId}, #{memberTargetId})
            </if>
        </where>
    </update>

    <select id="list" resultMap="resultMap">
        SELECT * FROM `t_friend`
        <include refid="PAGE_COLUMN"/>
    </select>

    <select id="relateExist" resultMap="resultMap">
        SELECT * FROM `t_friend`
        <where>
            <if test="id != null">AND `id` = #{id}</if>
            <if test="id == null">AND `_member_source_id` in (#{memberSourceId}, #{memberTargetId}) AND
                `_member_target_id` in (#{memberSourceId}, #{memberTargetId})
            </if>
        </where>
    </select>

    <select id="selectFriendRelate" resultMap="resultMap">
        SELECT F.*
        FROM `t_member` AS M
        JOIN `t_friend` AS F ON F._member_source_id = M.id OR F._member_target_id = M.id
        WHERE M.id = #{memberid}
        AND F._verify = #{verify}
        <if test="memberIdList != null">
            AND (F._member_source_id IN
            <foreach collection="memberIdList" open="(" close=")" separator="," item="item">#{item}</foreach>
            OR F._member_target_id IN
            <foreach collection="memberIdList" open="(" close=")" separator="," item="item">#{item}</foreach>
            )
        </if>
    </select>

    <delete id="delete">
        DELETE
        FROM `t_friend`
        WHERE id = #{id}
    </delete>
</mapper>
