<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wildfirechat.admin.mapper.MemberPasswordMapper">
	<resultMap id="BaseResultMap" type="cn.wildfirechat.common.model.po.MemberPasswordPO">
		<id column="user_id" property="uid" />
		<result column="last_try_time" property="lastTryTime" />
		<result column="password" property="password" />
		<result column="reset_code" property="resetCode" />
		<result column="reset_code_time" property="resetCodeTime" />
		<result column="salt" property="salt" />
		<result column="try_count" property="tryCount" />
	</resultMap>

	<insert id="insert">
		INSERT INTO t_member_password (user_id, last_try_time, password, reset_code_time, salt, try_count)
		VALUES (#{uid}, #{lastTryTime}, #{password}, #{resetCodeTime}, #{salt}, #{tryCount})
	</insert>

	<update id="updatePassword" >
		UPDATE t_member_password
		<set>
			<if test="lastTryTime != null">
				last_try_time = #{lastTryTime},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="resetCodeTime != null">
				reset_code_time = #{resetCodeTime},
			</if>
			<if test="salt != null">
				salt = #{salt},
			</if>
			<if test="tryCount != null">
				try_count = #{tryCount},
			</if>
		</set>
		WHERE user_id = #{uid}
	</update>

	<update id="update" >
		UPDATE t_member_password
		<set>
			<if test="lastTryTime != null">
				last_try_time = #{lastTryTime},
			</if>
			<if test="tryCount != null">
				try_count = #{tryCount},
			</if>
		</set>
		WHERE user_id = #{uid}
	</update>

	<select id="find" resultMap="BaseResultMap">
	    SELECT *
	    FROM t_member_password mp
	    WHERE user_id = #{uid}
  	</select>


</mapper>